Demo.xcodeproj/xcuserdata
Demo.xcodeproj/project.xcworkspace
Demo.xcworkspace/xcuserdata
Boomerang.xcodeproj/project.xcworkspace/xcuserdata
.build
Examples/TVMaze/TVMaze.xcodeproj/xcuserdata
**/*.xcodeproj/**/xcuserdata/**
Boomerang.xcworkspace
.swiftpm
