#docs
Boomerang.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Boomerang.xcodeproj/project.xcworkspace/xcuserdata/andrealucibello.xcuserdatad/UserInterfaceState.xcuserstate
Boomerang.xcodeproj/xcuserdata/andrealucibello.xcuserdatad/xcschemes/xcschememanagement.plist
